package-lock.json
.sass-cache/
vendor/
node_modules/
public/phpmyadmin/
public/test.php
public/phpinfo.php
public/favicon
public/logos

/websocket
/webpack

app/controllers/DummyController.php
app/views
app/library/ip_check.php
app/templates/witcher3

# Contains passwords:
app/config/passwords/
app/config/config.php
app/config/domains.php

# Contains sensitive data:
sessions/

# Compiled assets:
public/assets/

# Images:
public/files/

# Cache:
cache/

# Contains database dumps:
backup/