vendor/
node_modules/
public/assets/
public/test.php
public/phpinfo.php

/websocket

app/controllers/NotificationController.php
app/pages/notifications*

# Contains passwords:
app/config.php
app/config/config.php

# Contains sensitive data:
sessions/

# Images:
public/files/

# Cache:
cache/

# Contains database dumps:
backup/