vendor/
node_modules/
public/assets/
public/test.php
public/phpinfo.php

/websocket

app/controllers/NotificationController.php
app/models/Notification.php
app/pages/notifications.php
app/pages/notifications*

# Images:
public/files/

# Contains passwords:
app/config.php

# Contains sensitive data:
sessions/

# Contains database dumps:
backup/
