{# # NOSCRIPT ############################################# #}
{% block noscript %}
{% if root is defined %}
<noscript>
  <content>
    <post_with_replies style="text-align:center; font-weight:bold;">
      Ваш браузер не поддерживает JavaScript!
    </post_with_replies>
  </content>
</noscript>
{% endif %}
{% endblock %}

{# TOPIC WITH REPLIES BLOCK #}

{% block topic_with_replies %}
{% if root is defined %}
  <post_with_replies class="{{ topic.post_id }}" topic_id="{{ topic.post_id }}">
    <post>
      {% if is_mod %}
      <!-- different code for post and reply! -->
      <form method="post" action="/delete" id="{{ topic.post_id }}_delete_form" target="_blank"><input type="hidden" name="n" value="{{ topic.post_id }}"></form>
      <div class="delete" style="float:right;" onclick="delete_post({{ topic.post_id }});"></div>
      {% endif %}
      
      <div class="topic_header">
        <!--<a href="/">Главная</a>&nbsp;&#8594;&nbsp;-->
        <a href="/topic/{{ topic.post_id }}" style="display: inline-block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: calc(100% - 80px);">
          {{ topic.title_formatted|raw }}
          {% if topic.sticky %}
          <span style='color:red;'>[тема закреплена]</span>
          {% endif %}
        </a><!-- - Анонимно Пн 18 декабря 2017 08:22:52 -->
        
        <!--<div style="float:right;padding-top:0px;">
          {{ topic.voting_html|raw }}
        </div>-->     
      </div>
      
      <!--
      <a href="/topic/{{ topic.post_id }}" style="max-width:100%; overflow: hidden; whitespace: nowrap; text-overflow: ellipsis;">{{ topic.title_formatted|raw }}</a>
      -->      
      
      <text>
        {% if topic.file_url %}
        <a href="{{ topic.file_url }}" target="_blank">
          {% if topic.thumb_w and topic.thumb_h %}{% set style = 'style="width:'~topic.thumb_w~'px;height:'~topic.thumb_h~'px;"' %}{% endif %}
          
          <img class="topic_thumb" src="{{ topic.thumb_url }}"{{ style|raw }}>
        </a>
        {% endif %}
        
        {{ topic.text_formatted|raw }}
        
        {% if (topic.name_formatted != "") %}
        <br>
        <span style="color:blue;">Автор подписался как {{ topic.name_formatted }}</span>
        {% endif %}
      </text>
      
      <div style="font-size:0.75em; margin-top:0.5em; padding:0px;">
        <!--<a href="/topic/{{ topic.post_id }}" target="_blank">Открыть тему</a>&nbsp;&#8729;&nbsp;--><span style="opacity:0.5;">{{ topic.time_formatted }}</span>
      </div>
      
    </post>
    
    <!--<hr style="margin:0px;">
    
    <div style="font-size:1em; margin-top:0.35em; margin-bottom:0.42em;  padding-left: var(--post_with_replies_padding);">
      <a href="javascript:;" onclick="reply_to_topic({{ topic.post_id }});">
        <i class="fa fa-comments-o" aria-hidden="true"></i>
        Ответить
      </a>
    </div>-->
    
    <replies>
    {% if topic.replies|length > replies_to_show %}
      <!--<hr style="margin:0px;">-->
    
      <expand onclick='show_omitted({{ topic.post_id }});' id="show_omitted_{{ topic.post_id }}">
        Показать все {{ topic.replies|length }} ответов
      </expand>
    
      <omitted_replies id='omitted_{{ topic.post_id }}'>
    {% elseif topic.replies|length != 0 %}
      <div class="hr"></div>
    {% endif %}
    
    {% for reply in topic.replies %}
        
      {{ block("reply") }}
        
      <div class="hr"></div>
    
      {% if topic.replies|length > replies_to_show and loop.index0 == topic.replies|length - replies_to_show - 1 %}
      </omitted_replies>
      {% endif %}
    
    {% endfor %}
    
    {% if topic.replies|length == 0 %}
      <div class="hr"></div>
    {% endif %}
    </replies>
    
    <!--<form class="reply_form" method="post" action="">-->
    <form class="reply_form" method="post" action="{{ phalcon_url }}/posting/post">
      <input type="hidden" name="forum_id" value="{{ topic.forum_id }}">
      
      <input type="hidden" name="parent_topic" id="parent_topic" value="{{ topic.post_id }}">
      
      <input type="hidden" name="text" value="">

      <textarea_container>
        <textarea style="padding-top: 2px; font-size: 15px; line-height: 15px; height:20px; margin-bottom:0px;" class="reply" name="text" id="text_{{ topic.post_id }}" placeholder="Написать ответ..."></textarea>

        <div class="controls" style="margin-top: 7px;">
          <input type="submit" name="submit" style="margin-top:0px;" value="Отправить">
          <!--<input type="submit" class="inputfile_label button is-small is-outlined" value="Отправить">-->
          <input name="userfile" type="file">
        </div>
      </textarea_container>
    </form>
    
  </post_with_replies>
{% endif %}
{% endblock %}

{% block reply %}
{% if root is defined %}
  <reply order_in_topic="{{ reply.order_in_topic }}">
    {% if is_mod %}
    <!-- different code for post and reply! -->
    <form method="post" action="/delete" id="{{ reply.post_id }}_delete_form" target="_blank"><input type="hidden" name="n" value="{{ reply.post_id }}"></form>
    <div class="delete" style="float:right;" onclick="delete_post({{ reply.post_id }});"></div>
    {% endif %}
    
    <!--<div style="float:right; font-size:0.75em; padding:0px;">
      #{{ reply.order_in_topic }}
    </div>-->
    
    <text>
      {% if reply.file_url %}
        <a href="{{ reply.file_url }}" target="_blank">
          {% if reply.thumb_w and reply.thumb_h %}{% set style = 'style="width:'~reply.thumb_w~'px;height:'~reply.thumb_h~'px;"' %}{% endif %}
          
          <img class="reply_thumb" src="{{ reply.thumb_url }}"{{ style|raw }}>
        </a>
      {% endif %}
      
      {{ reply.text_formatted|raw }}
    </text>
    
    <!--<div style="opacity:0.5; float:right; font-size:0.75em; margin-top:0.5em; padding:0px;">
      #{{ reply.order_in_topic }}
    </div>-->
    
    <!--<div style="opacity:0.75; font-size:0.75em; margin-top:0.5em; padding:0px;">
      #{{ reply.order_in_topic }}&nbsp;&#8729;&nbsp;<a href="javascript:;" onclick="reply_to_topic({{ topic.post_id }}, {{ reply.post_id }}, {{ loop.index0+1 }});">Ответить</a>&nbsp;&#8729;&nbsp;21 dec @ 07:21
    </div>-->
    
    <div style="font-size:0.75em; margin-top:0.5em; padding:0px;">
      <a href="javascript:;" onclick="reply_to_topic({{ topic.post_id }}, {{ reply.post_id }}, {{ loop.index0+1 }});">Ответить</a><span style="opacity:0.5;">&nbsp;&#8729;&nbsp;{{ reply.time_formatted }}<!--&nbsp;&#8729;&nbsp;#{{ reply.order_in_topic }}--></span>
    </div>
    
  </reply>
{% endif %}
{% endblock %}

{# ######################################################## #}
{# # NEW TOPIC FORM ####################################### #}
{# ######################################################## #}
{% block new_topic_form %}
{% if root is defined %}
      <content class="display_new_topic_form_container" style="display:none;">
        <post_with_replies>
          <post style="text-align:center; cursor:pointer; font-weight:bold;"
                onclick="$('.new_topic_form_container').css('display', 'block');$(this).css('display', 'none');">
            Создать новую тему
          </post>
        </post_with_replies>
      </content>

      <content class="new_topic_form_container">
      <div id="new_topic_form_error_message"></div>
      <post_with_replies style="padding:10px 10px 12px 10px; margin-top:15px;">
        <form class="new_topic_form" method="post" action="{{ phalcon_url }}/posting/post">
          <input type="hidden" name="forum_id" value="{{ forum_id }}">
          
          <input type="hidden" name="parent_topic" id="parent_topic" value="">
          
          <input type="text" name="title" placeholder="Заголовок" style="display:none;">
          
          {% if forum_id != 1 and false %}
          <input type="text" name="name" maxlength="20" placeholder="Введите имя (не обязательно)"> <!-- style="margin-top:4px;" -->
          {% endif %}
          
          <textarea name="text" class="new_post" spellcheck="false" placeholder="Введите текст...">{% if declined_text %}{{ declined_text|raw }}{% endif %}</textarea>

          <style class="text/css">
          input.inputfile
          {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
          }
            
          .inputfile_label
          {
            /*cursor: pointer;

            padding: 2px 6px;
            border: 1px solid #CACACA;
            background: #EAEAEA;
            
            font-size: 13px;
            padding: 3px;
            border: 1px solid black;
            border-radius: 3px;
            padding-left: 5px;
            padding-right: 5px;*/
            
            /*height: 21px;
            padding-left: 7px;
            padding-right: 7px;*/
          }

          .inputfile_label:hover,
          .inputfile_label:focus
          {
            /*background-color: red;*/
          }
            
          .loading
          {
            background: green;
          }
          </style>
 
          <div style="float:left;">
            <input id="topic_userfile" name="userfile" type="file" class="inputfile">
            
            <!--<label for="topic_userfile" class="inputfile_label">Прикрепить картинку</label>-->
            <!--<label for="topic_userfile" class="inputfile_label">Прикрепить картинку</label>-->
          
            <label for="topic_userfile" class="inputfile_label button is-small is-outlined">Прикрепить картинку</label>
          </div>
          
          <div align="right">
            <!--<input type="submit" class="submit" style="margin-right:1px;" name="submit" value="Новая тема">-->
            <input id="topic_submit" type="submit" class="inputfile">
            <!--<label for="topic_submit" class="inputfile_label">Новая тема</label>-->
            <!--<a class="button is-small is-outlined">Новая тема</a>-->
            <label for="topic_submit" class="inputfile_label button is-small is-outlined">Новая тема</label>
          </div>
        </form>
      </post_with_replies>
      </content>
{% endif %}
{% endblock %}

{# ######################################################## #}

{% block page %}
{% if root is defined %}
<!DOCTYPE html>
<html>
  <head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="keywords" content="анонимный форум,дискурс"/>
    <meta name="description" content="Дискурс — это самый свободный форум русскоязычного интернета."/>
    <!-- /Meta -->
    
    <title>Дискурс — анонимный форум</title>
    
    <style type='text/css'>
    h2
    {
      /*color: red !important;*/
    }
    </style>
    
    <!--<script async src="/o.js"></script>
    <link href="/discours.css" rel="stylesheet">-->
    
    <script async src="/assets/{{ js_file }}"></script>
    <link href="/assets/{{ css_file }}" rel="stylesheet">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, minimal-ui">
    
    <!--<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">-->
    <link rel="icon" type="image/png" sizes="32x32" href="/anon.png">
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111575996-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-111575996-1');
    </script>
  </head>

  <body>
    {{ block("noscript") }}
    
    <nav class="navbar is-transparent">
       <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <div style="font-size:1.25em;font-weight:bold!important;" class="brand">Дискурс</div>
          </a>
       </div>
       <div id="navMenuTransparentExample" class="navbar-menu">
          <div class="navbar-start">
            
             <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link is-active">
                Форумы
                </a>
                <div class="navbar-dropdown is-boxed">
                   <a class="navbar-item" href="/">
                   Главная
                   </a>
                   <a class="navbar-item" href="/ph/">
                   Философия
                   </a>
                   <a class="navbar-item" href="/po/">
                   Политика
                   </a>
                   <a class="navbar-item" href="/vg/">
                   Видеоигры
                   </a>
                   <a class="navbar-item" href="/trash/">
                   <s>Мусор</s>
                   </a>
                </div>
             </div>
             <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link is-active">
                Справка
                </a>
                <div class="navbar-dropdown is-boxed">
                   <a class="navbar-item" href="/about">
                   О проекте
                   </a>
                   <a class="navbar-item" href="/faq">
                   FAQ
                   </a>
                   <a class="navbar-item" href="/contact">
                   Контакты
                   </a>
                </div>
             </div>
          </div>
          <div class="navbar-end">
              <style type="text/css">
              #bell::after {display:none;}
              #bell {padding-right:16px;}
              </style>
          </div>
       </div>
    </nav>

      {% if not topic_id and not display_new_topic_form and not html %}
    
        <h2>{{ forum_title }}</h2>
    
        {% if forum_id == 6 %}
        <content>
        <article class="message">

        <div class="message-body">
        Добро пожаловать на помойку! Сюда будут переноситься раковые темы из других разделов.
        Здесь можно постить и вручную (хотя в этом нет надобности). Не забывайте, что это
        всё еще Дискурс, поэтому <b><u>порно, шок-контент, спам и вайпы запрещены</u></b>.
        А вот страдать шизней и гадить в чужие темы можно сколько угодно.
        </div>
        </article>
        </content>
        {% endif %}
    
      {% endif %}
    
      {{ html|raw }}
    
      {% if posting_error %}
        <content>
          <post_with_replies>
            <post>
              <div style="text-align:center;color:red;">{{ posting_error }}</div>

              {% if declined_text %}
                Ваш пост:<br>
                {{ declined_text|raw }}
              {% endif %}
            </post>
          </post_with_replies>
        </content>
      {% endif %}
    
      {% if display_new_topic_form or (html == false and topic_id == false) %}
        {{ block("new_topic_form") }}
      {% endif %}
    
      {% if topics %}
        <content id="topics">
        {% for topic in topics %}
          {{ block("topic_with_replies") }}
        {% endfor %}
        </content>
    
        {% if limit == default_limit and not topic_id %}
        <content>
          <post_with_replies>
            <post style="text-align:center;">
              На странице отображены самые свежие темы. <a href="?show_all">Посмотреть&nbsp;все.</a>
            </post>
          </post_with_replies>
        </content>
        {% endif %}
    
      {% endif %}
    
      <footer>
        From discou.rs with love!
      </footer>
    
      <!--<link rel="stylesheet" href="/discours.css">-->
  </body>
</html>
{% endif %}
{% endblock %}

{# ######################################################## #}

{% set root = true %}

{% if block is defined %}
  {{ block(block) }}
{% else %}
{{ block("page") }}
{% endif %}